[defaults]
# Inventory
inventory = inventory/hosts.yml
host_key_checking = False
retry_files_enabled = False

# Vault
vault_password_file = .vault_pass

# Roles
roles_path = roles

# Output
stdout_callback = default
callbacks_enabled = profile_tasks
forks = 5
gathering = smart
fact_caching = jsonfile
fact_caching_connection = .ansible/facts
fact_caching_timeout = 86400
interpreter_python = auto_silent

# SSH
ssh_args = -o ControlMaster=auto -o ControlPersist=60s

[privilege_escalation]
become = True
become_method = sudo
become_user = root
