# {{ ansible_managed }}
[Unit]
Description=Frigate NVR (Podman Compose)
After=network-online.target podman.service
Wants=network-online.target

[Service]
Type=simple
User={{ local_ssh_user }}
WorkingDirectory={{ frigate_base_dir }}
ExecStart=/usr/bin/podman-compose up
ExecStop=/usr/bin/podman-compose down
Restart=always
RestartSec=10
TimeoutStopSec=45

[Install]
WantedBy=multi-user.target