# {{ ansible_managed }}
{{ ai_agent_user }} soft nproc {{ ai_agent_soft_nproc }}
{{ ai_agent_user }} hard nproc {{ ai_agent_hard_nproc }}
{{ ai_agent_user }} soft fsize {{ ai_agent_soft_fsize }}
{{ ai_agent_user }} hard fsize {{ ai_agent_hard_fsize }}