# {{ ansible_managed }}
set -g mouse on
set -g history-limit 50000
set -g default-terminal "screen-256color"
setw -g mode-keys vi
set -g status-interval 5
set -g status-left '[#S] '
set -g status-right '%Y-%m-%d %H:%M'