# {{ ansible_managed }}
# WireGuard configuration for {{ inventory_hostname }}
# Topology: hub-and-spoke -- {{ groups['wg_hub'][0] }} is the hub
# All traffic between peers is routed through the hub.

{% set wg_hub_host = groups['wg_hub'][0] %}

[Interface]
PrivateKey = {{ wg_private_keys[inventory_hostname] }}
Address = {{ wg_ip }}/{{ wg_network | regex_replace('^.*\\/', '') }}
{% if inventory_hostname == wg_hub_host %}
ListenPort = {{ wg_port }}
{% endif %}
MTU = {{ wg_mtu }}

{% if inventory_hostname == wg_hub_host %}
# Hub: All peers listed here, hub routes between them
{% for host in groups['wg_peers'] %}
{% if host != inventory_hostname %}
# Peer: {{ host }} ({{ hostvars[host]['wg_ip'] }})
[Peer]
PublicKey = {{ wg_public_keys[host] }}
AllowedIPs = {{ hostvars[host]['wg_ip'] }}/32
{% if hostvars[host].get('wg_endpoint') %}
Endpoint = {{ hostvars[host]['wg_endpoint'] }}:{{ wg_port }}
{% endif %}
PersistentKeepalive = {{ wg_keepalive }}

{% endif %}
{% endfor %}
{% else %}
# Spoke: Connect to hub, route all WG traffic through it
[Peer]
PublicKey = {{ wg_public_keys[wg_hub_host] }}
Endpoint = {{ hostvars[wg_hub_host]['wg_endpoint'] }}:{{ wg_port }}
AllowedIPs = {{ wg_network }}
PersistentKeepalive = {{ wg_keepalive }}
{% endif %}