# {{ ansible_managed }}
# Hardened SSH configuration

Port {{ ssh_port }}
AddressFamily inet
ListenAddress 0.0.0.0

PermitRootLogin {{ ssh_permit_root_login }}
PasswordAuthentication {{ ssh_password_auth }}
PubkeyAuthentication yes
ChallengeResponseAuthentication no
UsePAM yes

X11Forwarding no
AllowTcpForwarding no
AllowAgentForwarding no
PrintMotd no
AcceptEnv LANG LC_*
Subsystem sftp /usr/libexec/openssh/sftp-server

ClientAliveInterval 300
ClientAliveCountMax 2
LoginGraceTime 30
MaxAuthTries 3